body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.barra-superior {
  background-color: rgb(5, 30, 171);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 80px;
  margin-right: 15px;
}

.barra-superior h1 {
  font-size: 32px;
  margin: 0;
}

.c-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.T h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;   /* grande en PC */
  margin: 20px 0;
}

.T p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  margin: 10px 0;
}

.c-b {
  margin-top: 20px;
}

.b {
  font-family: Cambria, Georgia, serif;
  display: inline-block;
  padding: 15px 30px;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 22px;
}

.b:hover {
  background: #0056b3;
}

.i img {
  width: 450px;   /* grande en PC */
  height: auto;
}

/* Responsive para móvil */
@media (max-width: 768px) {
  .c-t {
    flex-direction: column; /* texto arriba, imagen abajo */
    text-align: center;
  }

  .T h1 {
    font-size: 50px; /* sigue grande en móvil */
  }

  .T p {
    font-size: 22px;
  }

  .i img {
    width: 300px; /* grande pero proporcional en móvil */
    margin-top: 20px;
  }

  .b {
    font-size: 20px;
    padding: 12px 24px;
  }
}

